<div class="popup" id="create-store-wrapper">
    <div id="form-wrapper">
        <h4>CREATE YOUR STORE</h4>
        <p>By creating a store, you will be able to create and manage inventory, perform transactions, and view real-time graphs.</p>

        <div id="center-input">
            <label for="store-name">STORE NAME<i class="error"></i></label>
            <input id="store-name" placeholder="Enter a store name" />
        </div>
    </div>

    <div id="submit-wrapper">
        <button id="create-store-submit">Create</button>
    </div>
</div>