<div class="popup" id="drop-inventory-wrapper" data-id="{{id}}">
    <div id="drop-inventory-container">
        <div class="header-wrapper">
            <h4>DROP TABLE</h4>
            <button id="exit-button">
                <div><i class="far fa-times-circle"></i></div>
                <div>esc</div>
            </button>
        </div>

        <p>Deletes ALL Rows & Columns. This can't be undone.</p>
        <p class="error"></p>

        <div id="submit-wrapper">
            <button id="drop-table-submit">Drop</button>
        </div>
    </div>
</div>