#body-wrapper ::-webkit-scrollbar {
    width: 8px;
}

#body-wrapper ::-webkit-scrollbar-track {
    background: #808080;
    border-radius: 1px;
}

#inventory-wrapper {
    display: none;
    overflow-y: auto;
    height: calc(100vh - 120px);
    margin: 0 10px;
}

#log-wrapper {
    overflow-y: auto;
    height: calc(100vh - 120px);
    margin: 0 10px;
}

#create-transactions-button, #create-employee-button {
    display: none;
}

/*EMPTY*/
#empty-inventory-wrapper, #empty-log-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    min-height: 200px;
}

#empty-inventory-wrapper div, #empty-log-wrapper div {
    font-size: 145px;
    color: #7289da;
}

#empty-inventory-wrapper p, #empty-log-wrapper p {
    color: #99aab5;
}
/*EMPTY*/

/*ACTION BAR*/
.action-bar {
    border-top: 1px solid #535353;
    border-right: 1px solid #535353;
    background: #1e1e1e;
    width: fit-content;
    margin: 0 auto;
    position: fixed;
}

.action-bar#action {
    top: 58px;
}

.action-bar#operation {
    top: 260px;
}

.action-bar ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.action-bar ul li {
    padding: 8px 15px;
    border-bottom: 1px solid #535353;
    font-size: 13px;
    transition: 0.5s ease all;
    cursor: pointer;
}

.action-bar ul li:hover {
    background: red;
}
/*ACTION BAR*/

/* SEARCH */
#search-wrapper {
    padding-right: 10px;
    white-space: nowrap;
    max-width: 500px;
    margin: 5px auto;
    border: 1px solid #a7a7a7;
    transition: all 150ms ease-out;
}

#search-wrapper:hover {
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.6);
}

::-webkit-input-placeholder {
    color: #989898;
}

#search-wrapper:hover ::-webkit-input-placeholder {
    color: #ffffff;
}

#search-wrapper:hover #search-icon {
    color: #ffffff;
}

::-webkit-input-placeholder {
    transition: all 150ms ease-out;
}

#search-icon {
    padding: 12px;
    cursor: pointer;
    color: #747474;
    transition: all 150ms ease-out;
    line-height: 40px !important;
    font-size: 12px !important;
}

#search-input {
    background-color: transparent;
    width: calc(100% - 50px);
    outline: none;
    border: none;
    border-radius: 1px;
    height: 40px;
    line-height: 20px;
    padding: 0 10px;
    color: #ffffff;
}
/* SEARCH */

/* TABLE */
table {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    background-color: #393939;
    margin: 15px auto;
}

table thead {
    font-size: 15px;
    color: #9baaf0;
    background-color: #2d2c2c;
    white-space: nowrap;
    text-transform: capitalize;
    line-height: 30px;
}

table tbody {
    font-size: 15px;
    color: #a5a5a5;
    line-height: 1.4;
    background-color: #151515;
    white-space: nowrap;
}

table td {
    display: table-cell;
    padding: 8px;
}
/* TABLE */

/*BODY*/

/*POPUPS*/
#overlay h4 {
    color: #7289da;
    text-align: center;
    font-size: 16px;
    padding-top: 10px;
}

#overlay .popup {
    background: #191919;
    border-radius: 2px;
}

#overlay p {
    color: #99aab5;
    font-size: 12.5px;
}

#overlay button {
    margin-left: auto;
    display: block;
    color: #fff;
    background-color: #7289da;
    padding: 8px 16px;
    border-radius: 3px;
    font-size: 12px;
    border: none;
}

#overlay button:hover {
    background-color: #677bc4;
}

button[disabled=disabled], button:disabled {
    opacity: 0.5;
}

#overlay label {
    font-size: 11px;
    font-weight: bold;
    color: #686868;
}

#overlay input {
    background: #f6f6f6;
    border-bottom: 2px solid #ddd;
    color: #5b5b5b;
}

#overlay #form-wrapper {
    padding: 15px;
}

#overlay #submit-wrapper {
    padding: 10px;
    border-radius: 2px;
    background: #2a2a2a;
}

#overlay #center-input {
    width: fit-content;
    margin: 0 auto;
}

#overlay #multiple-inputs {
    display: flex;
    overflow: hidden auto;
    flex-flow: wrap;
    justify-content: space-around;
}

#overlay #cancel-submit, #overlay #no-submit {
    background: transparent;
    border: none;
    margin: 0;
}

#cancel-submit:hover, #overlay #no-submit:hover {
    text-decoration: underline;
}

#overlay #exit-button {
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    font-size: 25px;
    padding: 15px;
    color: #a5a5a5;
    transition: 0.5s ease all;
}

#overlay #exit-button div:nth-child(2) {
    font-size: 10px;
    margin-top: 4px;
    font-weight: bold;
}

#overlay #exit-button:hover {
    color: white;
}

#overlay #popup-inventory-wrapper {
    height: calc(100% - 110px);
    overflow-y: auto;
    margin: 0 10px;
}

#overlay #popup-inventory-wrapper::-webkit-scrollbar {
    width: 11px;
    background: #262626;
}

#overlay #popup-inventory-wrapper::-webkit-scrollbar-thumb {
    background-color: #5b5b5b;
    border-color: transparent;
    border-radius: 1px;
}

/*CREATE STORE*/
#create-store-wrapper p {
    max-width: 340px;
}
/*CREATE STORE*/

/*EDIT STORE*/
#edit-store-wrapper {
    background: #262626;
    display: flex;
    width: 260px;
    overflow: hidden;
}

#edit-store-wrapper #center-input {
    padding: 30px;
}

#edit-store-wrapper #form-wrapper div:nth-child(3) {
    margin: 10px 0;
    padding: 10px 0;
    border-top: 2.5px solid #575757;
}

#edit-store-wrapper #submit-wrapper {
    display: flex;
    align-items: stretch;
}

#edit-store-wrapper #delete-store-button, #edit-store-wrapper #delete-store-submit {
    background: #f62b2b;
    border-radius: 1px;
    font-size: 11px;
    font-weight: bold;
}

#edit-store-wrapper p {
    width: 220px;
    height: calc(100% - 50px);
    color: #ef5858;
    padding: 0 20px;
    margin: 0;
    font-size: 17px;
    display: flex;
    align-items: center;
}
/*EDIT STORE*/

/*ADD INVENTORY*/
#add-inventory-wrapper {
    display: flex;
    width: 464px;
    overflow: hidden;
}

#add-inventory-wrapper #action-wrapper {
    display: flex;
    padding: 10px 20px;
}

#add-inventory-wrapper #action-wrapper .add-action-button:hover {
    transform: scale(1.03);
    border-color: #bcbcbc;
}

#add-inventory-wrapper #action-wrapper .add-action-button {
    width: 160px;
    color: #64b2df;
    border: 1px solid #3a3a3a;
    border-radius: 2px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin: 15px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s ease all;
}

#add-inventory-wrapper #action-wrapper .add-action-button:nth-child(2) {
    color: #38c66a;
}

#action-wrapper span:first-child {
    font-size: 60px;
}

#action-wrapper span:nth-child(2) {
    font-size: 40px;
    position: relative;
    top: -15px;
}

#column-step, #row-step {
    display: none;
    min-width: 464px;
}

#column-step #center-input {
    padding: 44px 0;
}

#column-step #form-wrapper {
    height: 177px;
}

#column-step #submit-wrapper, #row-step #submit-wrapper {
    display: flex;
    align-items: stretch;
}

#multiple-inputs::-webkit-scrollbar-thumb {
    background-color: #0b0b0b;
}

#multiple-inputs::-webkit-scrollbar {
    width: 6px;
    background: #242424;
}

#row-step #form-wrapper {
    padding: 0;
}

#row-step #multiple-inputs {
    max-height: 177px;
    min-height: 177px;
    overflow-y: auto;
}

#row-step #multiple-inputs div {
    padding: 10px 0;
}

#row-step #multiple-inputs div:last-child:nth-child(odd) {
    margin: 0 auto 0 29px;
}

#row-step #multiple-inputs label {
    text-transform: uppercase;
}
/*ADD INVENTORY*/

/*EDIT INVENTORY*/
#edit-inventory-wrapper {
    height: 100vh;
    width: 100vw;
}

#edit-inventory-wrapper .header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 580px;
    margin: 0 auto;
    position: relative;
}

#edit-inventory-wrapper p {
    text-align: center;
}

#edit-inventory-wrapper #instructions {
    color: #a0e774;
    font-size: 16px;
    display: none;
    transition: all ease 0.5s;
}

.popup-table th, .popup-table td {
    cursor: pointer;
    transition: 0.5s ease all;
}

.highlight, .popup-table tbody tr:hover {
    background: #0d0d0d;
    transition: 0.5s ease all;
}

#overlay .popup-table input {
    width: 75px;
    border: 1px solid #555555;
    background: transparent;
    color: #ffffff;
    min-width: 4ch;
}
/*EDIT INVENTORY*/

/*DELETE INVENTORY*/
#delete-inventory-wrapper {
    height: 100vh;
    width: 100vw;
}

#delete-inventory-wrapper .header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 580px;
    margin: 0 auto;
    position: relative;
}

#delete-inventory-wrapper p {
    text-align: center;
}

#delete-details {
    width: 350px;
    margin: 0 auto;
    background: #111111;
    padding: 13px 4px;
    display: none;
}

#delete-details #instructions {
    color: #ff9489;
    font-size: 15px;
    transition: all ease 0.5s;
    margin: 0;
}

#delete-details div {
    display: flex;
    width: 300px;
    margin: 0 auto;
}

#delete-details #delete-cancel {
    margin: 0;
    background: transparent;
    border: 1px solid white;
}

#delete-cancel:hover {
    text-decoration: underline;
}

#delete-inventory-wrapper .highlight, #delete-inventory-wrapper .popup-table tbody tr:hover, #delete-inventory-wrapper .chosen {
    background: #3c0101;
    transition: 0.5s ease all;
}
/*DELETE INVENTORY*/

/*IMPORT INVENTORY*/
#import-inventory-wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#import-inventory-container {
    height: 100vh;
    display: flex;
    width: calc(100vw * 2);
}

#import-inventory-wrapper #file-step, #import-inventory-wrapper #import-step {
    width: 100vw;
}

#import-inventory-wrapper #import-step {
    display: none;
}

#import-inventory-wrapper p {
    text-align: center;
}

#import-inventory-wrapper #dragover-wrapper {
    text-align: center;
    border: 1.5px dashed #7289da;
    height: calc(100% - 85px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 110px);
    margin: 0 auto 0 75px;
    flex-direction: column;
    cursor: pointer;
}

#import-inventory-wrapper #file-upload {
    display: none;
}

#import-inventory-wrapper #import-table-wrapper {
    overflow: auto;
    max-width: calc(100vw - 110px);
    margin: 0 auto 0 75px;
    height: calc(100% - 118px);
}

#dragover-container {
    transition: 0.5s ease all;
}

#dragover-wrapper.active #dragover-container {
    transform: scale(1.1);
}

#dragover-container div {
    display: flex;
    font-size: 70px;
}

#dragover-wrapper p {
    font-size: 16px;
    margin: 40px 25px 0 25px;
}

#dragover-wrapper h4 {
    font-size: 15px;
    color: #99aab5;
}

#import-inventory-wrapper #submit-wrapper {
    display: flex;
}

#import-inventory-wrapper #no-submit {
    margin-left: 40px;
}

#import-table-wrapper::-webkit-scrollbar {
    width: 11px;
}

#import-table-wrapper::-webkit-scrollbar-corner {
    background: #262626;
}

#import-table-wrapper::-webkit-scrollbar-thumb {
    background: #0f0f0f;
    border-radius: 1px;
}

#import-table-wrapper::-webkit-scrollbar-track {
    border-radius: 1px;
    background: #323232;
}

#import-table-wrapper .header-input {
    height: 25px;
    text-align: center;
    background: #151515;
    border: none;
    color: white;
}

#import-table-wrapper .included {
    background: #005700;
    color: #ffffff;
}

#import-table-wrapper tbody td {
    transition: 0.5s ease all;
}
/*IMPORT INVENTORY*/

/*EXPORT*/
#export-inventory-wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#export-inventory-wrapper p {
    text-align: center;
}

#export-inventory-wrapper #button-wrapper {
    display: flex;
    justify-content: center;
}

#export-inventory-wrapper button:not(#exit-button) {
    margin: 20px 10px;
    background: transparent;
    font-size: 35px;
    border: 1px solid #2c2c2c;
    min-width: 90px;
    color: white;
    transition: 0.5s ease all;
}

#export-inventory-wrapper button:hover:not(#exit-button) {
    background: #0f0f0f;
}

#export-inventory-wrapper h4 {
    font-size: 13px;
}
/*EXPORT*/

/*DROP INVENTORY*/
#drop-inventory-wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#drop-inventory-container {
    height: 100vh;
}

#drop-inventory-wrapper h4 {
    padding-top: 40px;
}

#drop-inventory-wrapper p:not(.error) {
    text-align: center;
    font-size: 14px;
    color: #ff6767;
    margin: 22px 0;
    height: calc(100% - 152px);
    display: flex;
    justify-content: center;
}

#drop-inventory-wrapper #submit-wrapper {
    display: flex;
}

#drop-inventory-wrapper #drop-table-submit {
    margin: 0 auto;
    background: #950707;
    padding: 8px 18px;
    border-radius: 1px;
}
/*DROP INVENTORY*/

/*ITEM LOG*/
time {
    text-align: center;
    display: block;
    margin: 12px 0;
    font-size: 17px;
}

#item-log-scroll-wrapper {
    height: calc(100% - 40px);
    overflow-x: hidden;
}

.number-column {
    text-align: center;
}

.plus {
    color: #207934;
    font-weight: bold;
}

.minus {
    color: #ff3737;
    font-weight: bold;
}

#time-range {
    color: #97a8ff;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 5px;
}

.details-icon {
    text-align: center;
    color: #ffffff40;
    position: relative;
}

.details-icon.active {
    color: #FFFFFF;
    cursor: pointer;
}

.details-popup {
    display: none;
}

#time-range {
    color: #97a8ff;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 5px;
}

/*ITEM LOG*/

/*RECEIVED INVENTORY*/
#received-wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#received-wrapper p {
    text-align: center;
}

#received-container {
    height: 100vh;
    display: flex;
    width: calc(100vw * 2);
}

#choose-step, #received-step {
    width: 100vw;
}

#received-step {
    display: none;
}

#received-scroll-wrapper {
    height: calc(100% - 50px);
    overflow-y: auto;
}

#received-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#received-wrapper #submit-wrapper {
    display: flex;
}

#received-wrapper #no-submit {
    margin-left: 40px;
}
/*RECEIVED INVENTORY*/

/*DAMAGED INVENTORY*/
#damaged-wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#damaged-wrapper p {
    text-align: center;
}

#damaged-container {
    height: 100vh;
    display: flex;
    width: calc(100vw * 2);
}

#choose-step, #damaged-step {
    width: 100vw;
}

#damaged-step {
    display: none;
}

#damaged-scroll-wrapper {
    height: calc(100% - 50px);
    overflow-y: auto;
}

#damaged-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#damaged-wrapper #submit-wrapper {
    display: flex;
}

#damaged-wrapper #no-submit {
    margin-left: 40px;
}
/*DAMAGED INVENTORY*/

/*RESET INVENTORY*/
#reset-wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#reset-wrapper p {
    text-align: center;
}

#reset-container {
    height: 100vh;
    display: flex;
    width: calc(100vw * 3);
}

#choose-step, #select-step, #price-step, #cost-step {
    width: 100vw;
}

#select-step, #price-step, #cost-step {
    display: none;
}

#reset-select-wrapper {
    display: flex;
    justify-content: center;
}

#reset-select-wrapper .reset-next-step {
    background: #111111;
    margin: 0 10px;
    width: 128px;
    text-align: center;
    padding: 10px;
    border: #3c3939 solid 1px;
    border-radius: 1px;
    cursor: pointer;
    transition: 0.5s ease all;
}

#reset-select-wrapper .reset-next-step:hover {
    transform: scale(1.03);
}

#reset-select-wrapper h5 {
    color: #7289da;
}

#reset-select-wrapper svg {
    font-size: 28px;
    color: #25d725;
}

#price-scroll-wrapper, #cost-scroll-wrapper {
    height: calc(100% - 50px);
    overflow-y: auto;
}

#price-form, #cost-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reset-wrapper #submit-wrapper {
    display: flex;
}

#reset-wrapper #no-submit {
    margin-left: 40px;
}
/*RESET INVENTORY*/

/*POPUPS*/