<nav id="side-nav-wrapper">
    <a class="nav-icon" id="home-link"><i class="fas fa-home"></i></a>
    <a class="nav-icon" id="overview-link" href="/overview/"><i class="fas fa-tachometer-alt"></i></a>
    <a class="nav-icon" id="inventory-link" href="/inventory/"><i class="far fa-building"></i></a>
    <a class="nav-icon" id="transaction-link" href="/transaction/"><i class="fas fa-shopping-cart"></i></a>
    <a class="nav-icon" id="employee-link" href="/employee/"><i class="fas fa-male"></i></a>
    <a class="nav-icon" id="setting-link"><i class="fas fa-wrench"></i></a>
</nav>